---
import Layout from '../layouts/Layout.astro';
import GameCard from '../components/GameCard.astro';
import { createClient } from '@supabase/supabase-js';

const supabase = createClient(
  import.meta.env.PUBLIC_SUPABASE_URL,
  import.meta.env.PUBLIC_SUPABASE_ANON_KEY
);

// 1. Traemos los juegos
const { data: juegos, error } = await supabase.from('Games').select('*');

// 2. Traemos todas las llaves que NO están vendidas
const { data: todasLasKeys } = await supabase
  .from('keys_inventory')
  .select('game_id')
  .eq('is_sold', false);
---

<Layout title="DARLIOSHOP | Catálogo">
    <section class="grid-juegos">
        {juegos && juegos.map((juego) => {
            // 3. Calculamos si este juego específico tiene llaves
            const tieneStock = todasLasKeys?.some(key => key.game_id === juego.id);
            
            return (
                <GameCard 
                    {...juego} 
                    lemon_url={juego.lemon_checkout_url} // Mapeamos el nombre de la DB a la prop del componente
                    hayStock={tieneStock} 
                />
            );
        })}
    </section>
</Layout>

<style>
  .grid-juegos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem; /* Añadido un poco de padding lateral para móviles */
  }
</style>